.location-search-bar {
    display: flex;
    flex-direction: column;
    color: rgb(229, 19, 19);
    justify-content: center;
    margin: 20px;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    transform: translateY(30px)
  }
  
  .location-search-bar input {
    color: white;
    padding: 10px;
    font-size: 22px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px; 
    width: 65vw; 
    max-width: 500px; 
  }
  
  .location-search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #03607a;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .suggestions-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 220px;
    overflow-y: auto;
    position: absolute;
    color: white;
    background-color: white;
    width: 80vw;
    align-items: center;
    /* max-width: 85%; */
    transform: translateY(84px);
    top: 6rem;
    right: 15vw;
    left: 15vw;
    /* transform: translateX(-8rem); */
    opacity: 0.93;
    z-index: 3;
    border-radius: 8px;
  }
  
  .suggestions-list li {
    padding: 4px;
    font-size: 22px;
    cursor: pointer;
    color:rgb(11, 11, 111);
    background-color:rgba(171, 182, 192, 0.863);
    border: 1px solid #3934956c;
    /* width: 77%; */
  }
  
  .suggestions-list li:hover {
    background-color: #eda3a3;
  }
  
  select {
    display: flex;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    align-items: center;
    font-size: 16px;
    max-width:50vw;
  }

  .controls {
    display: flex;
    justify-content: center;
    width: 100%;
    /* transform:translateY(30px) */
  }

  option {
    text-decoration: underline;
  }