.App {
  text-align: center;
  color: rgb(156, 38, 8);

}

h1 {
  color: rgb(17, 100, 173);
  font-size: 35px;
}

p {
  font-size: 32px;
}
.App-header {
  background-color: #0c54e6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
