@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Gruppo&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');



* {
  background-color: transparent;
  font-family: 'Antonio', sans-serif;
  font-weight: 400;
}

h1 {
  color: maroon;
  /* margin-top: -5px; */
}

h4 {
  margin: 10px;
}

.favorite-button {
  padding: 5px 10px;
  margin: 1px;
  background-color: #827979;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 4.5rem;
  height: 1.5rem;
  color: #fff;
  transition: background-color 0.3s;
  transform: translateX(25px);
  opacity: .6;
  position: absolute;
  top: 5px;
  right: 30px;
}

.favorite-button.favorited {
  background-color: #ffffff93; 
  color: rgba(5, 3, 27, 0.305);
}

.favorite-button:hover {
  background-color: #fc280358;
  color: white;
  transition: background-color 0.9s;
}

.container {
  color: rgb(59, 203, 251);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* place-items: center; */
  height: 100vh;
  width: 100%;
  padding: 20px;
  background-image: url(https://4kwallpapers.com/images/wallpapers/texture-dark-background-purple-2560x1440-3086.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  padding: 20px;
  margin: 40px;
  text-align: center;
  border: 1px solid rgba(255, 252, 252, 0.91);
  backdrop-filter: blur(28px);
  -webkit-backdrop-filter: blur(28px);
  transform: translateY(-40px);
  opacity: 1;
  animation: fadeIn 1.9s ease forwards;
  box-sizing: border-box;
}

.weather-info h4 {
  margin: 1px 0; 
  letter-spacing: 1px;
  font-size: 26px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h2 {
  font-size: 36px;
  transform:translateY(-12px)
}

.Loading {
  color:crimson;
  font-size: 22px;
  transform:translateY(250px);
  backdrop-filter: blur(38px);
  -webkit-backdrop-filter: blur(38px);
}