@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Gruppo&family=Honk&family=Raleway+Dots&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  /* box-sizing: border-box; */
  background-color: transparent;
  font-family: 'Raleway Dots', sans-serif;
  font-weight: 800;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  position:relative;
  color:rgb(59, 203, 251);
  font-size: 50px;
  margin-top: -5px;
  transform: translateY(30px);
  text-align: center;
  align-items: center;
  width: 100%;
}

h4 {
  margin: 5px;
}

.favorite-button {
  font-family: sans-serif;
  font-weight: 400;
  padding: 3px 8px;
  margin: 1px;
  background-color: #635050;
  border: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  width: 4.5rem;
  height: 1.1rem;
  color: #fff;
  transition: background-color 0.3s;
  transform: translateX(25px);
  opacity: .6;
  position: absolute;
  top: 5px;
  right: 30px;
}

.favorite-button.favorited {
  background-color: #ffffff80; 
  color: rgba(0, 0, 0, 0.939);
}

.favorite-button:hover {
  background-color: #b07e38;
  color: rgb(0, 0, 0);
  transition: background-color 0.9s;
  box-shadow: 0 10px 40px rgba(201, 186, 186, 0.5);
}

.container {
  color: rgb(59, 203, 251);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* height: 100vh; */
  min-height: 844px;
  width: 100%;
  min-width: 390px;
  padding: 20px;
  background-image: url(https://4kwallpapers.com/images/wallpapers/texture-dark-background-purple-2560x1440-3086.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
  position: relative;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  padding: 6px;
  margin: 40px;
  text-align: center;
  border: 2px solid rgba(255, 252, 252, 0.91);
  backdrop-filter: blur(28px);
  -webkit-backdrop-filter: blur(28px);
  transform: translateY(-10px);
  opacity: 1;
  animation: fadeIn 1.9s ease forwards;
  box-sizing: border-box;
  z-index: 1;
  box-shadow: 0 10px 40px rgba(201, 186, 186, 0.5);
}

.weather-info h4 {
  margin: 1px 0; 
  letter-spacing: 1px;
  font-size: 26px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h2 {
  font-size: 36px;
  transform:translateY(-12px)
}

.Loading {
  color:rgb(59, 203, 251);
  font-size: 22px;
  transform:translateY(8px);
  backdrop-filter: blur(38px);
  -webkit-backdrop-filter: blur(38px);
  /* text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #0fa,
  0 0 82px #0fa,
  0 0 92px #0fa,
  0 0 102px #0fa,
  0 0 151px #0fa; */
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
}

.Loader {
  /* transform: scale(2.5);  */
  padding-bottom: 15px;
}