* {
  background-color: rgb(158, 179, 201);
}

h1 {
  color: maroon;
  /* margin-top: -5px; */
}

.Loading {
  color:crimson;
  font-size: 22px;
  transform:translateY(250px);
  backdrop-filter: blur(38px);
  -webkit-backdrop-filter: blur(38px);
}